@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

$bg-color: #fbfbfb;

$base-font: 'Roboto';


body {
	font-family: $base-font;
	background-color: $bg-color;
}

.table-sm {
	background-color: white;
	font-size: 87%;
}

.table thead th {
    min-width: 10rem;
    user-select: none;
    &:first-child {
    	min-width: 0;
    	width: 1px;
    }
    .fa-fw {
    	width: auto;
    	padding-right: .14rem;
    }
    .fa-sort {
    	opacity: .5;
    }
}