@import 'bootstrap/scss/bootstrap.scss';


$bg-color: #fbfbfb;

$base-font: 'Roboto';


body {
	font-family: $base-font;
	background-color: $bg-color;
}

.table-sm {
	background-color: white;
	font-size: 87%;
}

.table thead th {
    min-width: 7rem;
    user-select: none;
    &:first-child {
        min-width: 0;
        width: 1px;
        text-align: right;
    }
    .fa-fw {
        width: auto;
        padding-right: .14rem;
    }
    .fa-sort {
        opacity: .5;
    }
}

.table tbody td {
    &:first-child {
        text-align: right;
    }
}